.assembler .code {
  float: left;
  width: 60%;
}

.assembler .code textarea {
  width: 95%;
  height: 15em;
}

.assembler .listing {
  float: left;
  width: 40%;
}

.assembler .errors {
  clear: both;
  color: red;
}

h2, .assembler, .emulator {
  border: 1px solid black;
  padding: 12px;
}

h2 {
  border-bottom: none;
  margin-bottom: 0;
}

h3:first-child {
  margin-top: 0;
}

.assembler:after, .emulator:after {
  display: block;
  content: '';
  clear: both;
}

.emulator .col-1 {
  float: left;
  width: 50%;
}

.emulator .col-2 {
  margin: 0 5em 0 50%;
}

.emulator .col-3 {
  float: right;
  width: 5em;
}

.emulator .col-3 h3 {
  text-align: center;
}

.emulator .col-1:after, .emulator .col-2:after, .emulator .col-3:after {
  display: block;
  content: '';
  clear: both;
}

.log {
  height: 10em;
  overflow: auto;
  resize: both;
  margin-right: 1em;
  border: 1px solid black;
}

.log :first-child {
  font-weight: bold;
}

.torches div {
  height: 1em;
  width: 1em;
  border: 1px solid white;
  margin: 0 auto;
}

.emulator .registers {
  border: 1px solid black;
}

.error {
  color: red;
}

.memory .dump .changed {
  background-color: #FFFF80;
}

.memory .dump .pc {
  background-color: #80FF80;
}
