#code-input {
  float: left;
  width: 60%;
}

#assembler-listing {
  float: left;
  width: 40%;
}

#code-input textarea {
  width: 95%;
  height: 15em;
}

#errors {
  clear: both;
}

h2, .assembler, .emulator {
  border: 1px solid black;
  padding: 12px;
}

.assembler:after, .emulator:after {
  display: block;
  content: '';
  clear: both;
}

h2 {
  border-bottom: none;
  margin-bottom: 0;
}

table {
  border: 1px solid black;
}

.state, .memory {
  float: left;
  width: 40%;
}

.emulator>.output {
  float: left;
  width: 20%;
}

.emulator>.output div {
  height: 1em;
  width: 1em;
  border: 1px solid white;
}

.changed {
  background-color: #FFFF80;
}

.memory .pc {
  background-color: #80FF80;
}

.log :first-child {
  font-weight: bold;
}

.log {
  height: 10em;
  overflow: auto;
}
