.assembler .code {
  float: left;
  width: 60%;
}

.assembler .code textarea {
  width: 95%;
  height: 15em;
  resize: vertical;
}

.assembler .code .permalink {
  float: right;
  margin: 0 5% 0 0;
  text-align: right;
}

.assembler .listing {
  float: left;
  width: 40%;
}

.assembler .errors {
  clear: both;
  color: red;
}

.assembler .references {
  padding-top: 1em;
}

.assembler .references table {
  font-size: 1.1em;
  display: inline-block;
  border-collapse: collapse;
  border: 1px solid #999;
}

.assembler .references caption {
  color: #333;
}

.assembler .references .reference {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
}

.assembler .references th, .assembler .references td {
  font-family: monospace;
  text-align: center;
  border-top: 1px solid #999;
  padding: 0.1em 0.25em;
}

.assembler .references th {
  border-right: 1px solid #999;
}

.assembler .references .legend td {
  text-align: left;
}

.assembler .references .legend td:first-child {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h2, .assembler, .emulator {
  border: 1px solid black;
  padding: 12px;
}

h2 {
  cursor: pointer;
  background-color: #f2fbff;
  margin-bottom: 0;
  position: relative;
}

h2 span {
  font-family: monospace;
  position: absolute;
  right: 12px;
  border: 1px solid #9ee2ff;
  color: #4ac9ff;
  line-height: 1.2em;
  width: 1.2em;
  text-align: center;
}

h3 {
  margin-bottom: 0;
}

h3:first-child {
  margin-top: 0;
}

.assembler, .emulator {
  background-color: white;
  border-top: none;
}

.assembler:after, .emulator:after {
  display: block;
  content: '';
  clear: both;
}

.emulator .col-1 {
  float: left;
  width: 50%;
}

.emulator .col-2 {
  margin: 0 5em 0 50%;
}

.emulator .col-3 {
  float: right;
  width: 5em;
}

.emulator .col-3 h3 {
  text-align: center;
}

.emulator .col-1:after, .emulator .col-2:after, .emulator .col-3:after {
  display: block;
  content: '';
  clear: both;
}

.log code {
  display: block;
  height: 12em;
  overflow: auto;
  resize: vertical;
  margin-right: 1em;
  border: 1px solid black;
}

.log code :first-child {
  font-weight: bold;
}

.torches div {
  height: 1em;
  width: 1em;
  border: 1px solid white;
  margin: 0 auto;
}

.emulator .registers {
  border: 1px solid black;
}

.error {
  color: red;
}

code .changed {
  background-color: #FFFF80;
}

code .pc {
  background-color: #80FF80;
}
